<section class="vbox">
	<section class="scrollable wrapper">
		<div class="panel">
			<div class="panel-heading bg-light no-border">
				<span class="h4 text-lt m-t-sm m-b-sm block font-bold">Add new post</span>
			</div>
			<div class="panel-body">
				<div class="form-group">
					<h2 ng-model="newPost.title"  medium-editor options='{"placeholder": "Enter a title","forcePlainText": true,  "buttons": ["bold"]}'></h2>
				</div>
				<div class="form-group">
					<h4 ng-model="newPost.subtitle"  medium-editor options='{"placeholder": "Enter a subtitle", "forcePlainText": true, "buttons": ["bold"]}'></h4>
				</div>
				<div class="form-group">
					<div ng-model="newPost.body" medium-editor options='{"placeholder": "Enter a description", "buttons": ["bold", "italic", "underline", "anchor", "header1", "header2", "quote", "orderedlist", "unorderedlist"]}'>tyr</div>
				</div>
				<div class="form-group">
					<label>Category</label>
					<button type="button" class="form-control btn btn-default"
					 ng-model="newPost.category"
					 data-animation="am-flip-x"
					 placeholder="Выберите категорию"
					 bs-options="cat.id as cat.name group by cat.parent for cat in cats"
					 bs-select>
						Action <span class="caret"></span>
					</button>
				</div>
				<div class="form-group">
					<a href="" class="btn btn-primary" data-ng-click="save()">Save</a>
				</div>
			</div>
		</div>
	</section>
</section>