<div class="modal" tabindex="-1" role="dialog" data-ng-controller="modalNewsCategoriesCtrl">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-ng-click="$hide()">&times;</button>
        <h4 class="modal-title">Выбор иконки для категории</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <svg class="col-xs-2" data-ng-repeat="icon in icons" data-ng-click="category.attributes.icon = icon;" data-ng-class="{
            'bg-primary' : category.attributes.icon === icon
          }">
            <use xlink:href="{{icon | svg }}"></use>
          </svg>
        </div>
      </div>
      <div class="modal-footer">
        <a href="#" class="btn btn-default" data-ng-click="$hide()">Закрыть</a>
        <a href="#" class="btn btn-primary" data-ng-click="save($hide)">Сохранить</a>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>