<section class="vbox">
	<section class="w-f scrollable">
		<div class="slim-scroll" slim-scroll data-height="auto" data-disable-fade-out="true" data-distance="0" data-size="10px" data-railOpacity="0.2">

			<!-- nav -->                 
			<nav class="nav-primary hidden-xs">
				<div class="text-muted text-sm hidden-nav-xs padder m-t-sm m-b-sm">Главное меню</div>
				<ul class="nav nav-main" data-ride="collapse">
					<!-- dashboard -->
					<li data-ui-sref-active="active">
						<a ui-sref="main.index">
							<i class="i i-stats icon"></i>
							<span class="font-bold">Dashboard</span>
						</a>
					</li>
					<li data-ui-sref-active="active">
						<a ui-sref="main.users" class="auto">
							<i class="i i-users3 icon"></i>
							<span class="font-bold">Пользователи</span>					
						</a>
					</li>
					<!-- news -->
					<li data-ui-sref-active="active">
						<a ui-sref="main.news" class="auto">
							<span class="pull-right text-muted">
								<i class="i i-circle-sm-o text"></i>
								<i class="i i-circle-sm text-active"></i>
							</span>
							<i class="i i-lab icon"></i>
							<span class="font-bold">Новости</span>
						</a>
						<ul class="nav dk" >
							<li data-ui-sref-active="active">
								<a ui-sref="main.news.categories" class="auto">
									<i class="i i-dot"></i>
									<span>Категории</span>
								</a>
							</li>
							<li >
								<a href="icons.html" class="auto">
									<i class="i i-dot"></i>
									<span>Записи</span>
								</a>
							</li>
							<li >
								<a href="grid.html" class="auto">
									<i class="i i-dot"></i>
									<span>Grid</span>
								</a>
							</li>
						</ul>
					</li>

				</ul>
				<div class="line dk hidden-nav-xs"></div>
			</nav>
			<!-- / nav -->
		</div>
	</section>
	
	<footer class="footer hidden-xs no-padder text-center-nav-xs">
		<a href="modal.lockme.html" data-toggle="ajaxModal" class="btn btn-icon icon-muted btn-inactive pull-right m-l-xs m-r-xs hidden-nav-xs">
			<i class="i i-logout"></i>
		</a>
		<a href="#nav" data-toggle="class:nav-xs" class="btn btn-icon icon-muted btn-inactive m-l-xs m-r-xs">
			<i class="i i-circleleft text"></i>
			<i class="i i-circleright text-active"></i>
		</a>
	</footer>
</section>