<body>
<div class="container">
	<div class="inner">
	<aside class="nav-menu">
		<ul class="inner">
			<li class="nav-menu_item">
				<i class="nav-icon icon-about"></i>
				<span>О нас</span>
			</li>
			<li class="nav-menu_item">
				<i class="nav-icon icon-projects"></i>
				<span>Проекты</span>
			</li>
			<li class="nav-menu_item">
				<i class="nav-icon icon-technology"></i>
				<span>Технологии</span>
			</li>
			<li class="nav-menu_item">
				<i class="nav-icon icon-price"></i>
				<span>Цены</span>
			</li>
			<li class="nav-menu_item">
				<i class="nav-icon icon-contacts"></i>
				<span>Контакты</span>	
			</li>
		</ul>
	</aside> 
		<section class="slide slide-help">
			<h1>Помогаем людям добиваться целей</h1>
			<h2>С нами Ваши замыслы воплотяться в жизнь.</h2>
			<div class="slide-help_history">
				<span class="slide-help_history-text">Истории успеха наших клиентов</span>
			</div>
			<a class="slide-arrow"></a>
		</section>

		<section class="slide slide-result">
			<div class="slide-result_head-image"></div>
			<h1>Обещания забудьте!</h1>
			<h2>Результат всегда через 2 недели</h2>
			<ul class="slide-result_list">
				<li class="slide-result_item">
					<div class="slide-result_item-icon"></div>
					<div class="slide-result_item-text">Каждый проект мы делаем как для себя</div>
				</li>
				<li class="slide-result_item">
					<div class="slide-result_item-icon"></div>
					<div class="slide-result_item-text">Все современное. Мы уважаем себя и клиента.</div>
				</li>
				<li class="slide-result_item">
					<div class="slide-result_item-icon"></div>
					<div class="slide-result_item-text">С нами просто. Мы люди и поможем во всем.</div>
				</li>
			</ul>
			<div class="slide-">
		</section>



	</div>
</body>