<% include ../astra/partials/header %>
  <section class="content">
    <div class="container">
      <h1 class="text-center">Вход на сайт</h1>
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <div class="panel">
            <div class="panel-body">
              <form action="/login" method="POST">
                <div class="form-horizontal col-md-12">
                  <div class="form-group">
                    <input type="email" placeholder="Email" class="form-control no-border">
                  </div>
                  <div class="form-group">
                    <input type="password" placeholder="Password" class="form-control no-border">
                  </div>
                </div>
                <div class="text-center">
                  <button type="submit" class="btn btn-primary">Sign in</button>
                  <div class="m-t m-b">
                    <a href="#">
                      <small>Forgot password?</small>
                    </a>
                  </div>
                  <div class="line line-dashed"></div>
                  <p class="text-muted text-center">
                    <small>Do not have an account?</small>
                  </p>
                  <a href="/signup" class="btn btn-default">Create an account</a>
                  <a href="/auth/vk" class="btn btn-default">vk</a>
                  <a href="/auth/google" class="btn btn-default">google</a>
                  <a href="/auth/facebook" class="btn btn-default">facebook</a>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- footer -->
<% include ../astra/partials/footer %>
