<div class="inner">
	<div class="topMenu">
		<div class="col-sm-3 topMenu-left">
			<ul class="col-xs-6 row list-unstyled topMenu-left-menu">
				<li class="topMenu-left-menu_item"><a href="#">Item 1</a></li>
				<li class="topMenu-left-menu_item"><a href="#">Item 1</a></li>
				<li class="topMenu-left-menu_item"><a href="#">Item 1</a></li>
			</ul>
			<ul class="col-xs-6 row list-unstyled topMenu-left-menu">
				<li class="topMenu-left-menu_item"><a href="#">Item 1</a></li>
				<li class="topMenu-left-menu_item"><a href="#">Item 1</a></li>
				<li class="topMenu-left-menu_item"><a href="#">Item 1</a></li>
			</ul>
		</div>
		<div class="col-sm-6 topMenu-center">
		§	
		</div>
		<div class="col-sm-3 topMenu-right">
			<ul class="list-unstyled topMenu-right-menu">
				<li class="topMenu-right-menu-item">
					<a href="#"><i class="fa fa-search"></i>Поиск</a>
				</li>
				<% if (user) {%>
				<li class="topMenu-right-menu-item">
					<a href="/logout"><i class="fa fa-user"></i>Выйти</a>
				</li>
				<% } else { %>
				<li class="topMenu-right-menu-item">
					<a href="/login"><i class="fa fa-user"></i>Войти</a>
				</li>
				<% } %>
			</ul>
		</div>
	</div>
	<div class="navMenu col-md-12">
		<nav class="navMenu-menu">
			<div class="col-md-3">
			f
			</div>
			<div class="col-md-9">
				<a class="navMenu-menu-item" href="#">Item 1</a>
				<a class="navMenu-menu-item" href="#">Item 1</a>
				<a class="navMenu-menu-item" href="#">Item 1</a>
				<a class="navMenu-menu-item" href="#">Item 1</a>
				<a class="navMenu-menu-item" href="#">Item 1</a>
				<a class="navMenu-menu-item" href="#">Item 1</a>
			</div>
		</nav>
	</div>
</div>