<div class="inner">
	<div class="topMenu">
		<div class="col-sm-3 topMenu-left">
			<ul class="col-xs-6 row list-unstyled topMenu-left-menu">
				<li class="topMenu-left-menu_item"><a href="#">Item 1</a></li>
				<li class="topMenu-left-menu_item"><a href="#">Item 1</a></li>
				<li class="topMenu-left-menu_item"><a href="#">Item 1</a></li>
			</ul>
			<ul class="col-xs-6 row list-unstyled topMenu-left-menu">
				<li class="topMenu-left-menu_item"><a href="#">Item 1</a></li>
				<li class="topMenu-left-menu_item"><a href="#">Item 1</a></li>
				<li class="topMenu-left-menu_item"><a href="#">Item 1</a></li>
			</ul>
		</div>
		<div class="col-sm-6 topMenu-center">
			<a href="/">
				<svg class="topMenu-center_logo">
					<use xlink:href="/images/svg/svg.svg#svg-icon-sunrise"></use>
				</svg>
			</a>
		</div>
		<div class="col-sm-3 topMenu-right">
			<ul class="list-unstyled topMenu-right-menu">
				<li class="topMenu-right-menu-item">
					<a href="/search">
					<svg class="topMenu-icon">
						<use class="icon" xlink:href="/images/svg/svg.svg#svg-icon-view"></use>
					</svg>
					Поиск
					</a>
				</li>
				<% if (user) {%>
				<li class="topMenu-right-menu-item">
					<a href="/logout">
					<svg class="topMenu-icon">
						<use class="icon" xlink:href="/images/svg/svg.svg#svg-icon-profile"></use>
					</svg>
					Выйти
					</a>
				</li>
				<% } else { %>
				<li class="topMenu-right-menu-item">
					<a href="/login">
					<svg class="topMenu-icon">
						<use class="icon" xlink:href="/images/svg/svg.svg#svg-icon-profile"></use>
					</svg>
					Войти
					</a>
				</li>
				<% } %>
			</ul>
		</div>
	</div>
	<div class="navMenu col-md-12">
		<nav class="navMenu-menu">
			<div class="col-md-3">
			f
			</div>
			<div class="col-md-9">
				<a class="navMenu-menu-item" href="#">Item 1</a>
				<a class="navMenu-menu-item" href="#">Item 1</a>
				<a class="navMenu-menu-item" href="#">Item 1</a>
				<a class="navMenu-menu-item" href="#">Item 1</a>
				<a class="navMenu-menu-item" href="#">Item 1</a>
				<a class="navMenu-menu-item" href="#">Item 1</a>
			</div>
		</nav>
	</div>
</div>