					<section class="hbox stretch">
						<aside class="aside b-r b-light bg-light">
							<section class="vbox">
								<header class="header clearfix dk b-b b-light">
									<a class="btn btn-sm btn-link btn-icon pull-right"
									 data-ng-click="addGroup()">
										<i class="i i-plus i-2x"></i>
									</a>
									<p class="h4 font-thin pull-left m-r-sm m-b-sm">Роли</p>
								</header>
								<section class="scrollable hover">
									<div class="list-group no-radius no-border m-t-n-xxs m-b-none">
										<a class="list-group-item"
										 data-ng-repeat="group in groups"
										 data-ng-class="{'active': group.id === active.group}"
										 data-ng-click="selectGroup(group)"
										 data-ng-dblclick="addGroup(group)">
											{{group.name}}
										</a>
									</div>
								</section>
							</section>
						</aside>
						<aside class="aside-md b-r b-light bg-light lt">
							<section class="vbox">
								<header class="header clearfix bg b-b b-light">
									<form method="post">
										<div class="input-group m-t-sm">
												<input type="text" class="input-sm form-control" placeholder="Поиск">
												<span class="input-group-btn">
													<button class="btn btn-sm btn-default" type="submit">
														<i class="fa fa-search"></i>
													</button>
												</span>
										</div>
									</form>
								</header>
								<section class="scrollable hover">
									<div class="list-group no-radius no-border m-t-n-xxs m-b-none">
										<a href="#" class="list-group-item"
                     data-ng-repeat="usr in users"
                     data-ng-class="{'active': usr.id === active.user}"
                     data-ng-click="selectUser(usr)">
											{{usr.firstname}} {{usr.lastname}}
										</a>
									</div>
								</section>
							</section>
						</aside>
						<section>
							<header class="header bg-light lter clearfix b-b b-light">
								<a class="btn btn-sm btn-primary" data-ng-click="user={};"><i class="i i-pencil"></i>New user</a>
							</header>
							<section class="vbox bg-white">
								<section class="scrollable wrapper-lg">
                  <div class="col-md-12" data-ng-include="'/views/users/addUser.html'"></div>
								</section>
							</section>
						</section>
					 </section>
