<% include ../astra/partials/header %>
<div class="content">
	<div class="inner row">
		<div class="col-md-10">
			yt
		</div>
		<div class="col-md-2">
			<div class="panel panel-success">
				<div class="panel-body">
					<div class="post-weather_title"></div>
				</div>
			</div>
		</div>
	</div>
</div>
<% include ../astra/partials/footer %>