<% include ../astra/partials/header %>
<div class="content">
	<div class="container">
		<div class="col-md-9">
			<% _.each(news, function(post){ %>
				<div class="col-md-3">
					<div class="panel">
						<div class="panel-heading"><%- post.title %></div>
						<div class="panel-body">
							<%- post.slug %>
							<svg><use xlink:href="/images/svg/svg.svg#<%= post.category_icon %>"></use></svg>
						</div>
					</div>
				</div>
			<% }); %>
  		</div>
		<div class="col-md-3 visible-lg-block">
			<div class="panel panel-info weather">
				<div class="panel-body color-white">
					<div class="text-center h2"></div>
				</div>
			</div>
		</div>
	</div>
</div>
<% include ../astra/partials/footer %>