<% include ../astra/partials/header %>
<div class="content">
	<div class="inner row">
		<div class="col-md-10">
			<%= user %>
		</div>
		<div class="col-md-2 visible-lg-block">
			<div class="panel panel-info weather">
				<div class="panel-body color-white">
					<div class="text-center h2"></div>
				</div>
			</div>
		</div>
	</div>
</div>
<% include ../astra/partials/footer %>