<!DOCTYPE html>
<html lang="en" class="app">
<head>  
  <meta charset="utf-8" />
  <title>Scale | Web Application</title>
  <meta name="description" content="app, web app, responsive, admin dashboard, admin, flat, flat ui, ui kit, off screen nav" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" /> 
  <link rel="stylesheet" href="http://localhost:9000/bower_components/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="http://localhost:9000/bower_components/animate.css/animate.css">
  <link rel="stylesheet" href="http://localhost:9000/bower_components/components-font-awesome/css/font-awesome.css">
  <link rel="stylesheet" href="http://localhost:9000/styles/app.css" type="text/css" />
</head>
<body class="">