<!DOCTYPE html>
<html lang="ru" class="astra">
<head>  
  <meta charset="utf-8" />
  <title>Astrakhan Today</title>
  <meta name="description" content="" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" /> 
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="http://localhost:3000/styles/astra.css" type="text/css" />
</head>
<body class="">
	<div class="content">
		<header class="header">
			<% include ../menu/topMenu %>
		</header>
