<!DOCTYPE html>
<html lang="ru" class="astra">
<head>  
  <meta charset="utf-8" />
  <title>Astrakhan Today</title>
  <meta name="description" content="" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" /> 
<link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
  <link rel="stylesheet" href="http://localhost:3000/styles/astra.css" type="text/css" />
</head>
<body class="">
	<svg style="display:none;">
	<symbol id="sun" viewBox="0 0 24 24">
		<polyline class="svg-default" points="6.5,12.5 6.5,8.5 9.5,5.5 14.5,5.5 17.5,8.5 17.5,12.5"/>
	</symbol>
	<symbol id="sunset" viewBox="0 0 24 24">
		<polyline class="svg-default" points="23.5,23 22,21.5 20,23.5 18,21.5 16,23.5 14,21.5 12,23.5 10,21.5 8,23.5 6,21.5 4,23.5 2,21.5 0.5,23">
			<animate attributeName="points" dur="5000ms" to="23.5,20 22,20.5 20,22.5 18,20.5 16,22.5 14,20.5 12,22.5 10,20.5 8,22.5 6,20.5 4,22.5 2,20.5 0.5,22" />
		</polyline>
		<polyline class="svg-default" points="23.5,19.5 22,18 20,20 18,18 16,20 14,18 12,20 10,18 8,20 6,18 4,20 2,18 0.5,19.5"/>
		<polyline class="svg-default" points="23.5,16 22,14.5 20,16.5 18,14.5 16,16.5 14,14.5 12,16.5 10,14.5 8,16.5 6,14.5 4,16.5 2,14.5 0.5,16">
			<animate attributeName="points" dur="5000ms" to="23.5,23 22,21.5 20,23.5 18,21.5 16,23.5 14,21.5 12,23.5 10,21.5 8,23.5 6,21.5 4,23.5 2,21.5 0.5,23" />
		</polyline>
	</symbol>
	<symbol id="profile" viewBox="0 0 24 24">
		<polygon class="svg-default" points="21.5,18 12,23.5 2.5,18 2.5,6 12,0.5 21.5,6"/>
		<polyline class="svg-default" points="19.707,19.038 14,17 14,15 17.5,13 17.5,8 12,5 6.5,8 6.5,13 10,15 10,17 4.456,19.132"/>
		<polyline class="svg-default" points="10,12 12,13 14,12"/>
		<line class="svg-default" x1="17.5" y1="9" x2="6.5" y2="8"/>
	</g>
	</symbol>
			
	</svg>
	<div class="content">
		<header class="header">
			<% include ../menu/topMenu %>
		</header>
